.hambrBtn{
    z-index: 9999999999999999999999999999999999;

  }

  @media screen and (max-width: 828px) {









    .swiper {
  
      height: 570px;
      
    }
    
    .swiper-slide {
      text-align: center;
      font-size: 18px;
    
    /* border: solid black; */
      /* Center slide text vertically */
      display: flex;
  
   
      border-radius: 10px;
    }
    
    .product-card {
      transition: background-color 0.3s ease;
    }
    
    .product-card:hover {
      background-color: #26d6a1;
    }
    
    .spinner-overlay {
  
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
  
      background-color: white; /* Hafif şeffaf arka plan */
      z-index: 9999; /* Üstte görünmesi için yüksek z-index */
    }
    .mySwiper .swiper-slide  {
      transition: background-color 0.3s ease;
    }
    
    .mySwiper .swiper-slide:hover {
      background-color: #26d6a1;
    }
    
    .swiper-slide img {
    
    margin-left: 1px;
  
      display: block;
      width: 400px;
      height: 300px;
      object-fit: cover;
     margin-top: 5px;
      border-radius: 20px;
    }
  
  }