@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}










/* ----------------------- */



.fixed {
  margin-top: 7px;
  margin-bottom: 7px;
}

.animate {
  animation: grow 2s ease-in-out infinite, bounce 2s ease-in-out infinite;
  margin-top: 456px;
}

@keyframes grow {
  0% {
    transform: scale(0.33); /* 50px boyutuna eşdeğer */
  }
  100% {
    transform: scale(2); /* 300px boyutuna eşdeğer */
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Yukarı hareket */
  }
}








/* ----------------------- */










.swiper {
  width: 800px;
  height: 570px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

/* border: solid black; */
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.product-card {
  transition: background-color 0.3s ease;
}

.product-card:hover {
  background-color: #26d6a1;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* Hafif şeffaf arka plan */
  z-index: 9999; /* Üstte görünmesi için yüksek z-index */
}
.mySwiper .swiper-slide  {
  transition: background-color 0.3s ease;
}



.swiper-slide img {

margin-left: 10px;

  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
 margin-top: 10px;
  border-radius: 20px;
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 828px) {









  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  












button {
  cursor: pointer;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.testimonial-content {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slide-in {
  transform: translateX(0);
  opacity: 1;
}

.slide-out {
  transform: translateX(100%);
  opacity: 0;
}

.slide-in-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-out-exit {
  transform: translateX(0);
  opacity: 1;
}






/* ----------- */


